#app3{
  padding-top: 30px;
  padding-left: 30px;
}
#app3 .square{
  border: 1px solid blue;
  max-width: 10vh;
  height: 10vh;
  margin-bottom: 10px;
  transition: transform 1s;
}
#app3 .square.active{
  transform: translateX(15vw);
}
